<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.AnswersMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.pojo.Answers">
            <id property="expId" column="exp_id" jdbcType="INTEGER"/>
            <id property="questionId" column="question_id" jdbcType="INTEGER"/>
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="answer" column="answer" jdbcType="VARCHAR"/>
            <result property="id" column="id" jdbcType="VARCHAR"/>
            <result property="nextId" column="next_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        exp_id,question_id,user_id,
        answer,id,next_id
    </sql>

    <select id="selectTheLatestQuestionId" resultType="java.lang.Integer">
        SELECT question_id
        FROM answers
        WHERE  user_id = #{param1} and exp_id = #{param2}
        ORDER BY question_id DESC LIMIT 1;
    </select>
</mapper>
