<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.ExperimentMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.pojo.Experiment">
            <id property="expId" column="exp_id" jdbcType="INTEGER"/>
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="BIT"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        exp_id,user_id,status,
        start_time,end_time
    </sql>
    <select id="selectTheLatestExpId" resultType="java.lang.Integer">
        SELECT exp_id
        FROM experiment
        WHERE  user_id = #{param1}
        ORDER BY exp_id DESC LIMIT 1;
    </select>


</mapper>
