<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.PageInfoMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.pojo.PageInfo">
            <id property="pageInfoId" column="page_info_id" jdbcType="BIGINT"/>
            <result property="friendbodystring" column="FriendBodyString" jdbcType="VARCHAR"/>
            <result property="payway" column="PayWay" jdbcType="VARCHAR"/>
            <result property="controlnumber" column="controlNumber" jdbcType="INTEGER"/>
            <result property="friendnumber" column="friendNumber" jdbcType="INTEGER"/>
            <result property="friendsing" column="friendsing" jdbcType="INTEGER"/>
            <result property="isplaying" column="isPlaying" jdbcType="TINYINT"/>
            <result property="randomstring" column="randomString" jdbcType="VARCHAR"/>
            <result property="workstring" column="workString" jdbcType="VARCHAR"/>
            <result property="worksing" column="worksing" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        page_info_id,FriendBodyString,PayWay,
        controlNumber,friendNumber,friendsing,
        isPlaying,randomString,workString,
        worksing
    </sql>
    <select id="selectByPageInfoId" resultType="com.ruoyi.pojo.PageInfo">
        select
        <include refid="Base_Column_List"/>
        from page_info
        where page_info_id = #{pageInfoId,jdbcType=BIGINT}
    </select>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pageInfoId">
        insert into page_info(page_info_id,FriendBodyString,PayWay,
                              controlNumber,friendNumber,friendsing,
                              isPlaying,randomString,workString,
                              worksing)
        values(null,#{friendbodystring,jdbcType=VARCHAR},#{payway,jdbcType=VARCHAR},#{controlnumber,jdbcType=INTEGER},
               #{friendnumber,jdbcType=INTEGER},#{friendsing,jdbcType=INTEGER},#{isplaying,jdbcType=TINYINT},
               #{randomstring,jdbcType=VARCHAR},#{workstring,jdbcType=VARCHAR},#{worksing,jdbcType=INTEGER})
    </insert>
</mapper>
